<header
    class="flex flex-row bg-background_black py-4 justify-between items-center gap-8 px-8 border-b border-neutral-900">
    <div class="cursor-pointer">
        <app-logotipo></app-logotipo>
    </div>
    <div class="flex items-center gap-4">
        <div class="flex flex-row w-full max-w-[700px] rounded-lg">
            <input type="search" name="search" id="search" placeholder="Pesquisar filmes..."
                class="rounded-s-lg bg-neutral-100 text-neutral-900 p-2 w-full outline-none focus:ring-2 focus:ring-accent" />
            <button type="submit" class="bg-neutral-100 p-2 rounded-e-lg cursor-pointer border-l border-neutral-300">
                <fa-icon [icon]="faMagnifyingGlass"
                    class="text-neutral-600 hover:text-accent transition duration-300 ease-in-out"></fa-icon>
            </button>
        </div>
        <div class="flex gap-4 items-center">
            <button
                class="bg-accent hover:brightness-110 text-white px-6 py-2 rounded-md font-bold uppercase tracking-wider transition-all duration-200 cursor-pointer"
                (click)="isLoginFormOpen.set(true)">
                Login
            </button>
        </div>
    </div>

</header>

@if (isLoginFormOpen()) {
<app-login-form (closeForm)="isLoginFormOpen.set(false)" (goToRegister)="switchToRegister()" />
}

@if (isRegisterFormOpen()) {
<app-register-form (closeForm)="isRegisterFormOpen.set(false)" (goToLogin)="switchToLogin()" />
}