<header
  class="flex flex-row bg-background_black py-4 items-center justify-evenly border-b border-neutral-900"
>
  <div class="cursor-pointer" routerLink="/">
    <app-logotipo></app-logotipo>
  </div>
  <div class="relative flex flex-row w-full max-w-175 rounded-lg">
    <input
      type="search"
      name="search"
      #search
      placeholder="Pesquisar filmes..."
      [value]="searchService.query()"
      (input)="onSearchInput($event)"
      (keyup.enter)="onSearchEnter($event)"
      class="rounded-s-lg bg-neutral-100 text-neutral-900 p-2 w-full outline-none focus:ring-2 focus:ring-accent"
    />
    <button
      type="submit"
      class="bg-neutral-100 p-2 rounded-e-lg cursor-pointer border-l border-neutral-300"
    >
      <fa-icon
        [icon]="faMagnifyingGlass"
        class="text-neutral-600 hover:text-accent transition duration-300 ease-in-out"
      ></fa-icon>
    </button>

    @if (showSearchModal()) {
      <div class="fixed inset-0 z-40" (click)="showSearchModal.set(false)"></div>
      <app-modal-search (closeModal)="showSearchModal.set(false)" />
    }

  </div>
  <div class="flex gap-4 items-center text-white">
    @if (userLoggedIn()) {
      <app-dropdown-menu align="left" [title]="userName() || ''">
        <li
          class="cursor-pointer p-1 hover:bg-black/50 hover:font-semibold transition duration-200 ease-in-out"
          [routerLink]="['/profile', slug()]"
        >
          <p [routerLink]="['/profile', slug()]" >
            <fa-icon [icon]="faUser" class="me-1" />
            <span>Perfil</span>
          </p>
        </li>
        <li
          class="cursor-pointer p-1 hover:bg-black/50 hover:font-semibold transition duration-200 ease-in-out"
          routerLink="/settings" 
        >
          <p routerLink="/settings">
            <fa-icon [icon]="faGear" class="me-1" />
            <span>Configurações</span>
          </p>
        </li>
        <li
          class="cursor-pointer p-1 hover:bg-red-300/30 hover:text-red-600 hover:font-semibold transition duration-200 ease-in-out"
          (click)="logout()"
        >
          <p>
            <fa-icon [icon]="faPowerOff" class="me-1" />
            <span>Sair</span>
          </p>
        </li>
      </app-dropdown-menu>
    } @else {
      <button
        class="block bg-accent hover:brightness-110 px-6 py-2 rounded-md font-bold uppercase tracking-wider transition-all duration-200 cursor-pointer"
        (click)="isLoginFormOpen.set(true)"
      >
        Login
      </button>
    }

    @if (userLoggedIn() && isAdmin()) {
      <a href="" 
        routerLink="/admin"
        class="bg-yellow-600 py-1 px-3 rounded-lg hover:bg-yellow-700 transition duration-300 ease-in-out"
      >
        <fa-icon [icon]="faCrown" class="text-white me-1" />
        <span>Área Restrita</span>
      </a>
    }
  </div>
</header>

@if (isLoginFormOpen()) {
  <app-login-form
    (closeForm)="isLoginFormOpen.set(false)"
    (loginSuccess)="isLoginFormOpen.set(false)"
    (goToRegister)="switchToRegister()"
  />
}

@if (isRegisterFormOpen()) {
  <app-register-form (closeForm)="isRegisterFormOpen.set(false)" (goToLogin)="switchToLogin()" />
}