<div 
    class="fixed inset-0 bg-background_black/80 z-40 flex justify-center items-center p-4"
    (click)="closeForm.emit()"
>
    <div 
        class="bg-[#121212] rounded-xl p-6 w-full max-w-255 z-50 shadow-2xl border border-neutral-900 flex flex-col gap-6" 
        (click)="$event.stopPropagation()"
    >
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-accent font-bold text-3xl mb-1 tracking-tight">Atualizar conta</h1>
            <h3 class="text-neutral-400 text-[9px] tracking-[0.2em] uppercase text-center mt-1">Atualize seus dados de usuário!</h3>
            <button 
                type="button"
                class="absolute top-70 right-110 text-neutral-400 border border-black rounded-lg py-1 px-2 cursor-pointer"
                (click)="closeForm.emit()"
            >
                <span class="text-lg me-1">X</span>
                Fechar
            </button>
        </div>
        <div class="border border-neutral-950 w-full rounded-lg"></div>

        <app-flash-message [isGlobal]="false" />
        
        <div class="flex flex-row w-full gap-3">

            <!-- Avatar -->
            <div class="flex flex-col px-3 gap-4 w-full items-center justify-center">
                <div class="w-40 h-40 rounded-full border-2 border-accent">
                    <img
                        class="w-full h-full rounded-full"
                        [src]="userAvatar()" 
                        [alt]="userName()?.toLocaleLowerCase()"
                    >
                    <input
                        class="hidden"
                        type="file" 
                        name="avatar"
                        #fileInput
                        (change)="onFileSelected($event)"
                        accept="image/*"
                    >
                </div>
                @if (avatarError()) {
                    <span class="text-red-600 text-sm font-semibold">
                        {{ avatarError() }}
                    </span>
                }
                <div class="mt-4.5 w-full">
                    <button 
                        type="button"
                        (click)="fileInput.click()"
                        class="w-full bg-accent hover:brightness-110 text-white rounded-md uppercase font-bold tracking-wider py-2.5 transition-all duration-200 cursor-pointer"
                    >
                        Enviar
                    </button>
                </div>
            </div>

            <div class="border border-neutral-950 h-60"></div>

            <form 
                class="flex flex-col gap-4 w-full px-3"
                (ngSubmit)="onSubmit()"
                [formGroup]="updateForm"
            >
    
                <!-- Username -->
                <div class="flex flex-col gap-2">
                    <label for="username" class="text-neutral-400 text-xs font-bold uppercase tracking-wider">
                        Nome de usuário
                    </label>
                    <div class="relative flex items-center">
                        <fa-icon [icon]="faUser" class="absolute left-4 text-neutral-500"></fa-icon>
                        <input
                            class="w-full bg-[#1A1A1A] border border-neutral-800 text-neutral-200 rounded-md py-3 pl-11 pr-4 outline-none focus:border-accent transition-colors duration-200"
                            [ngClass]="{ 
                                'border-red-600': updateForm.get('username')?.hasError('serverError'),
                            }"
                            type="text" 
                            id="username" 
                            name="username"
                            [value]="userName()"
                            formControlName="username"
                        />
                    </div>
                    @if (updateForm.get('username')?.hasError('serverError')) {
                        <span class="ms-3 text-red-600 text-sm font-semibold">
                            {{ updateForm.get('username')?.getError('serverError') }}
                        </span>
                    }
                </div>
    
                <!-- UserHandle -->
                <div class="flex flex-col gap-2">
                    <label for="handle" class="text-neutral-400 text-xs font-bold uppercase tracking-wider">
                        Identificador
                    </label>
                    <div class="relative flex items-center">
                        <span class="absolute left-4 text-neutral-500 text-lg cursor-default">@</span>
                        <input
                            class="w-full bg-[#1A1A1A] border border-neutral-800 text-neutral-200 rounded-md py-3 pl-11 pr-4 outline-none focus:border-accent transition-colors duration-200"
                            [ngClass]="{ 
                                'border-red-600': updateForm.get('handle')?.hasError('serverError'),
                            }"
                            type="text" 
                            id="handle" 
                            name="handle"
                            [value]="userHandle()"
                            formControlName="handle"
                        />
                    </div>
                    @if (updateForm.get('handle')?.hasError('serverError')) {
                        <span class="ms-3 text-red-600 text-sm font-semibold">
                            {{ updateForm.get('handle')?.getError('serverError') }}
                        </span>
                    }
                </div>
    
                <!-- Button -->
                <div class="mt-4 flex flex-col gap-2">
                    <button 
                        type="submit" 
                        class="w-full bg-accent hover:brightness-110 text-white rounded-md uppercase font-bold tracking-wider py-2.5 transition-all duration-200 cursor-pointer"
                    >
                        Atualizar dados
                    </button>
                </div>
            </form>

        </div>


    </div>
</div>