<div 
    class="fixed inset-0 bg-background_black/80 z-40 flex justify-center items-center p-4"
    (click)="closeForm.emit()"
>
    <div 
        class="bg-[#121212] rounded-xl p-6 w-full max-w-155 z-50 shadow-2xl border border-neutral-900 flex flex-col gap-6" 
        (click)="$event.stopPropagation()"
    >
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-accent font-bold text-3xl mb-1 tracking-tight">Alterar Icone de Perfil</h1>
            <h3 class="text-neutral-400 text-[9px] tracking-[0.2em] uppercase text-center mt-1">Envie um icone de perfil personalizado!</h3>
        </div>
        <div class="border border-neutral-950 w-full rounded-lg"></div>

        <app-flash-message [isGlobal]="false" />
        
        <div class="flex flex-row w-full gap-3">

            <!-- Avatar -->
            <div class="flex flex-col px-3 gap-4 w-full items-center justify-center">
                <div class="w-40 h-40 rounded-full border-2 border-accent">
                    <img
                        class="w-full h-full rounded-full"
                        [src]="userAvatar()" 
                        [alt]="userName()?.toLocaleLowerCase()"
                    >
                    <input
                        class="hidden"
                        type="file" 
                        name="avatar"
                        #fileInput
                        (change)="onFileSelected($event)"
                        accept="image/*"
                    >
                </div>
                @if (avatarError()) {
                    <span class="text-red-600 text-sm font-semibold">
                        {{ avatarError() }}
                    </span>
                }
                <div class="mt-4.5 w-full flex flex-col gap-2">
                    <button 
                        type="button"
                        (click)="fileInput.click()"
                        class="w-full bg-accent hover:brightness-110 text-white rounded-md uppercase font-bold tracking-wider py-2.5 transition-all duration-200 cursor-pointer"
                    >
                        Enviar
                    </button>
                    <button 
                        type="button"
                        (click)="closeForm.emit()"
                        class="w-full bg-neutral-500 hover:brightness-110 text-white rounded-md uppercase font-bold tracking-wider py-2.5 transition-all duration-200 cursor-pointer"
                    >
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>